.container {
  max-width: 800px;
  margin: 0 auto;
  font-family: sans-serif;
}

.row {
  display: flex;
}

.column-two-thirds {
  flex-basis: calc((100% / 3) *2);
}

.column-quarter {
  flex-basis: calc(100%/4);
}

img {
  width: 100%;
  height: 100%;
}

.column-one-third {
  flex-basis: calc(100%/3);
}

.column-quarter > img {
  padding: 0 0.5%;
}

.column-two-thirds > h2,
p {
  align-items: center;
}
