.container {
  max-width: 800px;
  margin: 0 auto;
  font-family: sans-serif;
}

.row {
  display: flex;
}

.column-two-thirds {
  align-items: center;
  width: 66%;
}

.column-quarter {
  padding: 0 0.5%;
  flex-basis: calc(100%/4);
}

img {
  width: 100%;
  height: 100%;
}

.column-one-third {
  flex-basis: calc(100%/3);
}
