body {
  font-family: Karla, sans-serif;
}

h2 {
  text-align: center;
  font-size: 3.8rem;
  letter-spacing: 0.3rem;
  margin-bottom: 30px;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.row {
  display: flex;
}

.column-full {
  flex-basis: 100%;
}

.column-half {
  flex-basis: 50%;
}

.column-one-fourth {
  flex-basis: 25%;
}

.column-full p {
  text-align: center;
  font-size: 17px;
  letter-spacing: 0.03rem;
  line-height: 30px;
  margin-bottom: 5rem;
  margin-left: 12rem;
  width: 800px;
  color: #676767;
}

img {
  margin-top: -2rem;
}

.column-one-fourth p {
  font-size: 18px;
  color: #676767;
  letter-spacing: 0.02rem;
  line-height: 1.8rem;
  width: 350px;
  padding-bottom: 5rem;
}

.column-one-fourth h3 {
  color: #1c1c1c;
  width: 250px;
}

button {
  background-color: white;
  font-family: Karla, sans-serif;
  font-size: large;
  font-weight: bold;
  color: #d96a63;
  border-color: #de807b;
  border-width: 3px;
  width: 220px;
  height: 50px;
  border-style: solid;
  margin: 0 auto;
  display: block;
}

.row > h2 {
  margin-left: 18.5%;
}
